body {
  background-color: rgb(198 186 174);
}

#about {
  margin-top: 70px;
} 

h2 {
  font-weight: bold; 
  font-family: 'Montserrat'; 
  font-size: 40px; 
  color: rgb(222, 126, 160);  
  text-shadow: -1px -1px 0 #000, 
                1px -1px 0 #000,
               -1px 1px 0 #000,
                1px 1px 0 #000;
  align-items: center;
}


.profile-image {
    display: inline-block;
    width: 400px; /* Adjust the size as needed */
    height: 400px; /* Adjust the size as needed */
    object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
    border-radius: 50%;
    overflow: hidden; 
    margin-bottom: 5px;  
    align-items: center;
  } 

  .heart-about { 
    font-size: 34px; 
    margin-left: 7px;
    margin-right: 7px;
  } 

  #p-pic {
    margin-top: 6px;
  } 

.lead {
  margin-top: 30px; 
  font-weight: 700; 
  font-size: 30px; 
  color: rgb(204, 91, 140); 
} 

.p1 {
  font-size: 20px; 
  color: rgb(0, 0, 0);  
  margin-top: 30px;
}

.lead2 {
  font-weight: bold;

}   




  
  
  